{% extends 'base.html' %}

{% block title %}
    <title>Outgoings</title>
{% endblock %}

{% block body %}
    <div class="container my-4">
        <h4 class="text-danger display-5">$ Open Outgoings {{ total_outgoings_value | usd }}</h4>
    </div>
    {% if current_user.level == 'admin' %}
    <div class="container">
        <a href="{{ url_for('input_outgoing') }}" role="button" class="btn btn-primary">Add+</a>
    </div>
    {% else %}
    {% endif %}
    <div class="container my-4">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Receiver</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Type 1</th>
                    <th>Type 2</th>
                    <th>Description</th>
                    <th>Method</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            {% for outgoing in outgoings %}
            <tbody>
                <tr>
                    <td>{{ outgoing.id }}</td>
                    <td>{{ outgoing.date }}</td>
                    <td>{{ outgoing.receiver }}</td>
                    <td>{{ outgoing.cost | usd }}</td>
                    <td style="color:red;">{{ outgoing.status }}</td>
                    <td>{{ outgoing.type1 }}</td>
                    <td>{{ outgoing.type2 }}</td>
                    <td>{{ outgoing.description }}</td>
                    <td>{{ outgoing.method }}</td>
                    <td>
                        <button onclick="if(confirm('Confirm the payment of this outgoing!')){
                        location.href='setpayment/{{ outgoing.id }}';}else{false;}" class="btn btn-success">Ok Status</button>
                        <button onclick="if(confirm('Confirm to edit outgoing!')){location.href='editoutgoing/{{ outgoing.id }}';}else{false;}" class="btn btn-primary">Edit</button>
                        <button onclick="if(confirm('Confirm to DELETE outgoing!')){location.href='deleteoutgoing/{{ outgoing.id }}';}else{false;}" class="btn btn-danger">Delete</button>
                    </td>               
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="container">
    </div>
{% endblock %}