{% extends 'base.html' %}

{% block title %}
    <title>Set Taxes</title>
{% endblock %}

{% block body %}
    <div class="container my-4">
        <h3 class="text-primary display-5">Set Taxes in Percentage!</h3>
    </div>
    <div class="container">    
        <form method="post" class="form-register">
            {{ form.hidden_tag() }}
        <div class="mb-3">    
            {{ form.update.label() }}
            {{ form.update(class="form-control") }}
        </div>
        <div class="mb-3">        
            {{ form.cash_tax.label() }}
            {{ form.cash_tax(class="form-control", placeholder="Cash Tax") }}
        </div>
        <div class="mb-3">        
            {{ form.debit_tax.label() }}
            {{ form.debit_tax(class="form-control", placeholder="Debit Card Tax") }}
        </div>
        <div class="mb-3">        
            {{ form.credit_tax.label() }}
            {{ form.credit_tax(class="form-control", placeholder="Credit Card Tax") }}
        </div>   
            <br>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}