{% extends 'base.html' %}


{% block title %}
    <title>Set Types</title>
{% endblock title %}
    

{% block body %}
    <div class="container my-5">
        <div class="row align-items-start">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Register Type 1</h5>

                        <form method="post" class="form-register">
                            {{ form.hidden_tag() }}
                        <br>
                        <div class="mb-3">    
                            {{ form.type1.label() }}
                            {{ form.type1(class="form-control") }}
                        </div>
                            {{ form.submit(class="btn btn-primary") }}
                        </form>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
    